body {
  margin: 0;
  font-family: "Smythe", cursive;
  width: 100%;
  max-width: 600px;
}

header {
  background-image: url(hamburger.png);
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.2em 1.7em;
  color: #fff;
}

#menuCard {
  display: grid;
  grid-template-columns: 50px auto 50px;
  width: 100%;
}

.menu {
  width: 100%;
}

.yourOrderHeader {
  text-align: center;
}

.orderSumUp,
.orderSumUpLeft,
.totalSumUp {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
